*{
    list-style: none;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Public Sans", "Arial", sans-serif;

}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

@font-face {
    font-family: "Public Sans";
    font-weight: 100;
    src:
         url("../fonts/public-sans-v14-latin-100.woff2") format("woff2"), 
         url("../fonts/public-sans-v14-latin-100.woff") format("woff"); 
  }

/* header  */
.site-header {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #fff;
}
.container {
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.site-header__inner {
    width: 100%;
    display: flex;
    align-items: center;
}
.header-inner__logo {
    display: inline-block;
}
.logo__img {
    display: block;
}
.header-inner__nav {
    margin-right: auto;
    margin-left: auto;
}
.nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}
.nav-list__item {
    margin-left: 30px;
}
.nav-list__item:first-child {
    margin-left: 0;
}
.nav-list__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
    color: #9597A5;
}
.nav-list__link:hover {
    color: #2D314D;
}
.nav-list__link:hover::after{
    position: absolute;
    top: 42px;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}
.header-inner-request {
    padding: 8px 32px;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    color: #FFFFFF;
}
.header-inner-request:hover {
    opacity: 0.6;
}
.site-header__burger {
    display: none;
}

@media only screen and (max-width: 992px){
    .header-inner__nav {
        margin-right: 0;
    }
    .header-inner-request {
        display: none;
    }
    .hero-box .header-inner-request {
        display: inline-block;
        padding: 10px 25px;
    }
    .hero-box {
        text-align: center;
        position: relative;
        z-index: 99;
    }

    .hero__inner {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 574px) {
    .header-nav {
        display: none;
        height: 600px;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        position: absolute;
        z-index: 100;
        top: 55px;
        left: 0;
        width: 100%;
        background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
    }

    .nav-list {
        padding-top: 32px;
        padding-bottom: 32px;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
    }
    .nav-list__item {
        margin-left: 0;
        margin-bottom: 24px;
    }
    .nav-list__item:last-child {
        margin-bottom: 0;
    }

    .nav-list__link {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: -0.138462px;
        color: #2D314D;
    }
    .site-header__burger {
        display: block;
        margin-left: auto;
        width: 24px;
        height: 20px;
        background-color: transparent;
        background-image: url("../images/toggler-open.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }
    .active {
        display: block;
    }
    .close {
        background-image: url("../images/toggler-close.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}
/* MAIN  */

.site-main {
    flex-grow: 1;
}
/* hero section  */
.hero {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.hero__inner {
    background-color: #FAFAFA;
}
.hero-box {
    padding-top: 240px;
    padding-bottom: 200px;
    width: 394px;
}
.hero-box__header {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
}
.hero-box__title {
    margin-bottom: 36px;
    margin-top: 0;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
}
.hero-box__link {
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.hero__img {
    width: 1300px;
    height: 1100px;
    position: absolute;
    top: calc(50% - 920px);
    right: calc(50% - 1250px);
    z-index: 5;
    background-image: url("../images/hero.bg.svg");
    background-repeat: no-repeat;
    background-position: center;
}
@media only screen and (max-width: 992px) {
    .hero__img{
        top: -500px;
        right: calc(50% - 750px);
    }
    .hero-box {
        padding-top: 700px;
        padding-bottom: 100px;
    }
    .hero-box__title {
        color: #694747;
    }
}
@media only screen and (max-width: 628px) {
    .hero__img {
        top: -400px;
        right: calc(50% - 800px);
        background-image: url("../images/hero-bg-mobile.svg");
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.8;
    }
    .hero-box {
        padding-top: 400px;
        padding-bottom: 100px;
    }

}
@media only screen and (max-width: 574px) {
    .hero__img {
        top: -420px;
        right: calc(50% - 750px);
        background-image: url("../images/hero-bg-mobile.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .hero-box {
        width: 320px;
        padding-top: 400px;
    }
    .hero-box__header {
        font-weight: 100;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        letter-spacing: -0.714286px;
        color: #2D314D;        
    }
}

/* services  */

.services {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F4F5F7;
}
.services__top {
    width: 635px;
    margin-bottom: 72px;
}
.services-header__heading {
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
}
.services-header__title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
}
.services-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
}
.services-list__item {
    padding: 3px;
    width: 250px;
    margin-right: 30px;
}
.services-list__item:last-child {
    margin-right: 0;
}
.services-list__item:first-child::before {
    content: "";
    display: inline-block;
    margin-bottom: 40px;
    width: 75px;
    height: 75px;
    background-image: url("../images/online-banking.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.services-list__item:nth-child(2)::before {
    content: "";
    display: inline-block;
    margin-bottom: 40px;
    width: 75px;
    height: 75px;
    background-image: url("../images/simple.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.services-list__item:nth-child(3)::before {
    content: "";
    display: inline-block;
    margin-bottom: 40px;
    width: 75px;
    height: 75px;
    background-image: url("../images/fast.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.services-list__item:nth-child(4)::before {
    content: "";
    display: inline-block;
    margin-bottom: 40px;
    width: 75px;
    height: 75px;
    background-image: url("../images/open.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


.services-list__link {
    text-decoration: none;
}
.services-link__heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: #2D314D;
}
.services-list__title {
    padding-top: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #9597A5;
}
@media only screen and (max-width: 992px) {
    .services__top {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .services-header__heading {
        text-align: center;
    }
    .services-header__title {
        text-align: center;
    }
    .services-list__item {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 574px) {
    .services__top {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    .services-header {
        width: 320px;
    }
    .services-header__heading {
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.571429px;
        color: #2D314D;    
    }
    .services-header__title {
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.234375px;
        color: #9597A5;        
    }
    .services-list__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .services-link__heading {
        text-align: center;
    }
    .services-list__title {
        text-align: center;
    }

}
/* articles section  */
.articles {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FAFAFA;
}
.articles-section-top__header {
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
}
.articles-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
}
.articles-list__item {
    width: 255px;
    margin-right: 30px;
    background-color: #fff;
}
.articles-list__item:first-child::before {
    content: "";
    display: inline-block;
    width: 255px;
    height: 200px;
    background-image: url("../images/receive.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.articles-list__item:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 255px;
    height: 200px;
    background-image: url("../images/treat.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.articles-list__item:nth-child(3)::before {
    content: "";
    display: inline-block;
    width: 255px;
    height: 200px;
    background-image: url("../images/take.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.articles-list__item:last-child::before {
    content: "";
    display: inline-block;
    width: 255px;
    height: 200px;
    background-image: url("../images/invite.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.articles-list__item:last-child {
    margin-right: 0;
}
.articles-item__link {
    display: inline-block;
    text-decoration: none;
    padding: 24px;
}
.articles-link__heading:hover {
    color: #30C88F;
}
.articles-link__name {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
}
.articles-link__heading {
    margin-bottom: 0;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
}
.articles-link__title {
    margin-top: 8px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
}
@media only screen and (max-width: 992px) {
    .articles-section-top__header {
        text-align: center;
    }
    .articles-list {
        justify-content: space-around;
    }
    .articles-list__item {
        margin-right: 0;
    }
}
/* footer  */
.site-footer {
    padding-top: 60px;
    padding-bottom: 45px;
    background-color: #2D314D;
}
.site-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.footer-wrapper__logo-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}
.footer-logo-list__item {
    margin-right: 15px;
}
.footer-logo-list__link {
    display: inline-block;
}
.footer-logo-list__link svg {
    fill: #FFFFFF;
}
.footer-logo-list__item:hover .footer-logo-list__link svg {
    fill: #33D35E;
}
.about-list {
    margin: 0 0 0 130px;
    padding-left: 0;
}
.about-list__item {
    margin-bottom: 10px;
}
.about-list__link:hover {
    color: #30C88F;
}
.about-list__link {
    text-decoration: none;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
}
.careers-list {
    margin: 0 0 0  130px;
    padding-left: 0;
}
.careers-list__link {
    font-size: 15px;
    line-height: 26px;
    text-decoration: none;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
}
.careers-list__item {
    margin-bottom: 10px;
}
.careers-list__link:hover {
    color: #30C88F;
}
.request-box {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.request-box__Link {
    margin-bottom: 14px;
}
.request-box__Link:hover {
    background: linear-gradient(135deg, #32D06A 0%, #80D5E0 99.58%);
    opacity: 1;
}
.request-box__title {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.footer-wrapper__center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 992px) {
    .footer-wrapper__request .header-inner-request {
        display: block;
    }
    .site-footer__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-wrapper {
        width: 100%;
    }
    .footer-wrapper__about {
        margin-right: 50px;
        margin-left: 50px;
    }
    .careers-list {
        margin: 0;
        padding-left: 0;
    }
}
@media only screen and (max-width: 880px) {
    .footer-wrapper__about {
        margin-right: 100px;
        margin-left: 100px;
    }
    .request-box {
        margin-top: 100px;
        margin-right: auto;
    }
}
@media only screen and (max-width: 685px) {
    .footer-wrapper__about {
        margin-right: 30px;
        margin-left: 30px;
    }
}
@media only screen and (max-width: 574px) {
    .footer-wrapper__center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .site-footer__wrapper {
        display: flex;
        flex-direction: column;
    }
    .careers-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .footer-logo-list {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .request-box {
        margin-top: 20px;
    }
} 